@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

/* Header Area  */

.navbar{
    display: flex;
    background: rgb(137,147,224);
    background: linear-gradient(6deg, rgba(137,147,224,1) 0%, rgba(222,105,126,1) 100%);    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
.logo a{
    text-decoration: none;
    color: bisque;    font-size: 25px;
}
.navlinks{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.navlinks a{
    text-decoration: none;
    color: bisque;
}
.navlinks a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.portal{
    display: flex;
    gap: 20px;
}
.portal a{
    text-decoration: none;
    color: rgb(112, 109, 104);
    font-size: 13px;
}
.portal a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(235, 208, 176);
}
.portal-btn{
    background-color: blanchedalmond;
    width: 5rem;    
    height: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* hero-container section  */

.hero-container{
    background-image: url(/assets/img/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.hero-container img{
    height: 100%;

    /* background-size: cover; */
}
.search{
    
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
#search-box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    width: 30rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(197, 197, 197);   
}

.contents{
    padding: 100px;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.right-content img{
    border: 1px solid rgb(199, 199, 199);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px;
}
.right-content{
    width: 50%;
}
.left-content{
    padding: 20px;   
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(25, 22, 56);
    gap: 20px;
    width: 50%;
}
#hero-cont{
    font-weight: 500;
    font-size: 5rem;
}
#hero-cont2{
    font-size: 4rem;
}
.hero-button{
margin-top: 20px;    display: flex;
    gap: 2rem;
}
.hero-button a{
    color: rgb(112, 109, 104);
    text-decoration: none;    
}
.hero-button a:hover{
    color: rgb(0, 0, 0);
}
.hero-btn{
    background-color: rgb(254, 216, 160);
    width: 8rem;    
    height: 3rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn:hover{
    background-color: rgb(193, 159, 108);
}



/* About section  */

.about{
    height: 100vh;
}

.title-head{
    color: rgb(14, 14, 34);
    text-align: center;
    padding-top: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
}
.title-subhead{
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
}
.works{
    display: flex;
    gap: 50px;
    margin: 0px 50px ;

}
.works a{
    display: flex;
    text-decoration: none;
    color: rgb(25, 22, 56);
    background-color: rgb(255, 255, 255);
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
.works img{
    width: 100%;
}

.work1{
    display: inline;
    background-image: url(/assets/img/book.jpg);
    width: 100vw;
    height: 50vh;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius: 1rem;

     
}
.work2{
    display: inline;
    background-image: url(/assets/img/meet.jpg);
    width: 100vw;
    height: 50vh;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.work3{
    display: inline;
    background-image: url(/assets/img/relax.jpg);
    width: 100vw;
    height: 50vh;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#book{
    display: flex;
    justify-content: center;
    align-items: end;  
}
#meet{
    display: flex;
    justify-content: center;
    align-items: end;  
}
#relax{
    display: flex;
    justify-content: center;
    align-items: end;  
}

.work1 a:hover, .work2 a:hover, .work3 a:hover{
    background-color:rgb(213, 213, 212) ;
}

/* Massage section  */
.massage{
    height: 100vh;
    background-color: rgb(255, 243, 227);
}

.massage-boxs{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    background-color: blanchedalmond;
    padding: 20px;
}
.massage-boxs a{
    text-decoration: none;
    color: rgb(25, 22, 56);
    margin: 10px;
    padding: 5px 15px;
    background-color: rgb(253, 208, 154);
    width: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 0.5rem;
}
.massage-boxs a:hover{
    background-color: rgb(200, 142, 107);
}
.box{
    background-color: aquamarine;
    width: 20rem;
    margin-top: 30px;
    border-radius: 1rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}
.box1, .box2, .box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}